body{   background-color: #1E2640 !important;
}
/*Header*/
#cabecalho .navbar{    background-color: #f2f2f2;
    padding-top: 0px;
    padding-bottom: 0px;
}
#cabecalho .icon-perfil{   color: #328C73;
}
#cabecalho .nav-link{  background-color: #328C73;
}
/**/
#formulario .row{ background-color: #174873;
}
#formulario .texto-form p{
    color: #ADD9B0;
}
#formulario .texto-form button{
    background-color: #328C73;
}
/*Categorias*/
#categorias .main-dois{
    background-color: #174873;
}
#categorias .main-dois p{
    color: #ADD9B0;
}
#categorias .main-dois button{
    background-color: #328C73;
}
.text-white, h2{
    color: #f2f2f2 !important;
}
/*Simulação*/
#sim .simulacao{
    background-color: #174873;
}
#sim .simulacao p{
    color: #ADD9B0 ;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.is-invalid {
    border-width: 2px;
}

/*Footer*/
#rodape .footer{
    background-color: #f2f2f2;
    width: calc(100% - 80px); 
    margin-left: 40px;
    margin-right: 40px;
}
#rodape .footer h2{
    color: #328C73 !important;
}
#rodape .footer h5 button{
    background-color: #37486C;
}
#rodape .footer p{
    color: #328C73;
}